:root{
    --main-color: #19c8fa;
    --teansperant-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
/* Start Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container::after{
    content: '';
    height: 2px;
    width: calc(100% - 25px);
    position: absolute;
    bottom: 13%;
    background-color: #a2a2a2;
    max-height: 97px;
}
header nav{
    flex: 1;
}
header nav .toggle-menu{
    color: white;
    font-size: 20px;
}
@media (min-width: 768px) {
    header nav .toggle-menu{
        display: none;
    }
}
header nav ul{
    display: flex;
}
@media (max-width: 767px) {
    header nav ul{
        display: none;
    }
    header{
        padding: 15px;
    }
    header .container::after{
        content: '';
        height: 2px;
        width: calc(100% - 25px);
        position: absolute;
        bottom: -25%;
        background-color: #a2a2a2;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: rgb(0, 0, 0 /  50%);
    }
    header nav .toggle-menu:hover + ul li a{
        padding: 15pxs;
    }

}

header nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 35px 10px;
}

header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    margin-bottom: 1%;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i{
    
    color: white;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 0%;
}
/* End Header */

/* Start Landing */
.landing{
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../img/landing.jpg');
    background-size: cover;
    position: relative;
}
.landing .overlay{
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--teansperant-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}
.landing .text .content{
    max-width: 500px;

}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 16px;
    line-height: 1.8;
}
.landing .change-bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media(max-width: 767px){
    .landing .change-bg{
        display: none;
    }
}

.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    list-style-type: none;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Langing */
/* The Section */
.main-heading {
    text-align: center;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    margin-top: 50px;
}   
.main-heading h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -36px;
    background-color: white;
}
.main-heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;

}
/* The Section */
/* Start Service */
.services-container .sre-box i{
    margin-right: 45px;
    margin-top: 10px;
}
.services-container .sre-box h3{
    color: var(--main-color);
    padding-bottom: 20px;
}
.services-container .sre-box p{
    line-height: 1.8;
    width: 95%;
    color: #777;
}
/* End Service */
/* Start Design */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../img/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.design::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
@media (max-width: 767px){
    .design .image{
        display: none;
    }
}
.design .image img{
    position: relative;
    bottom: -150px;
}
.design .text{
    color: white;
    padding: 50px;
    background-color: var(--teansperant-color);
}
.design .text h2{
    font-weight: normal;
    margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
}
/* End Design */
/* Start Protfolio */
.protfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.protfolio .shuffle{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.protfolio .shuffle li{
    padding: 10px;
    list-style-type: none;
}
.protfolio .shuffle li.active{
    background-color: var(--main-color);
    color: white;
}
.protfolio .row .img-p{
    padding: 0%;
    position: relative;
    overflow: hidden;
}
.protfolio .row .img-p img{
    transition: 0.3s;
}
.protfolio .row .img-p .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 42%;
    transition: 0.3s;
    bottom: -100%;
}
.protfolio .row .img-p .caption h4{
    font-weight: normal;
}
.protfolio .row .img-p .caption p{
    color: var(--main-color);
}
.protfolio .row .img-p:hover .caption{
    bottom: 0;
}
.protfolio .row .img-p:hover img{
    transform: rotate(3deg) scale(1.1);
}
.protfolio .more{
    background-color: var(--main-color);
    color: white;
    display: block;
    width: fit-content;
    text-decoration: none;
    padding:  15px 25px;
    margin: 30px auto;
}
/* End Protfolio */
/* Start Video */
.video{
    position: relative;
}
.video::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 99%;
    background-color: rgb(0 0 0 / 40%);
}
.video video{
    width: 100%;
    height: 100%;
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--teansperant-color);
    color: white;
    text-align: center;
}
.video .text button{
    width: 120px;
    height: 40px;
}
/* End Video */
/* Start About */
.about{
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -115px;
    margin-top: -100px;
    max-width: 100%;
}
/* End About */
/* Start Stats */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url('../img/stats.png');
    background-size: cover;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box{
    color: white;
    padding: 50px;
    background-color: var(--teansperant-color);
}
@media (max-width: 767px){
    .stats .container .box{
        flex-basis: 100%;
    }
}
@media (min-width: 768px){
    .stats .container .box{
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .stats .container .box{
        flex-basis: 25%;
    }
}
.stats .container .box i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    background-color: black;
    border-radius: 50%;
}
.stats .container .box .number{
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .container .box p{
    font-size: 14px;
}
/* End Stats */
/* Start Our Skills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container .bullets{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .container .bullets li{
    list-style-type: none;
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .container .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .container .content{
    display: flex;
    margin-bottom: 30px;
}
.our-skills .container .content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .container .content .text{
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .prog-holder{
    margin-bottom: 30px;
}
.our-skills .prog-holder h4{
    font-weight: normal;
    margin-bottom: 13px;
}
.our-skills .prog-holder .prog{
    background-color: #dedadc;
    height: 30px;
}
.our-skills .prog-holder .prog span{
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .prog-holder .prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -15px;
    padding: 3px 0px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}
.our-skills .prog-holder .prog span::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px;
    border-color: black transparent transparent transparent;
    right: -4px;
    top: -10px;
}
/* End Our Skills */
/* Start Quote */
.quote{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
.quote .container{
    position: relative;
}
.quote q{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* End Quote */
/* Start Pricing */
.pricing .container .row .color{
    background-color: #fcfcfc;
}
.pricing .container .row .head{
    font-weight: normal;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .row .head h3{
    font-size: 20px;
    padding-bottom: 20px;
}
.pricing .container .row span{
    font-size: 65px;
    font-weight: bold;
    position: relative;
}
.pricing .container .row span::before{
    content: '$';
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    left: -30px;
    top: 2px;
}
.pricing .container .row span::after{
    content: '/Mo';
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: 48px;
    margin-left: 15px;
}
.pricing .container .row ul{    
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .row ul li{
    padding: 15px 0;
    position: relative;
}
.pricing .container .row ul li:not(:last-child)::after{
    content: '';
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .container .row .foot{
    margin: 50px auto;
}
.pricing .container .row a{
    padding: 15px;
    text-decoration: none;
    border: 1px solid var(--main-color);
}
.pricing .text-contact-us a{
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../img/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container{
    position: relative;
    display: flex;
    align-items: center;
}
.subscribe form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe form input[type="email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.subscribe form input[type="submit"]{
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-left: none;
}
.subscribe form ::placeholder{
    color: white;
}
/* End Subscribe */ 
/* Start Contact US */
.contact-us .container form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact-us .container form textarea.main-input{
    height: 200px;
}
.contact-us .container form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
/* End Contact US */
/* Start Footer */
.footer{
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url('../img/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container{
    position: relative;
}
.footer p:not(.copyright){
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 10px auto;
}
.footer .copyright span{
    color: var(--main-color);
}
/* End Footer */